body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu, #recordsMenu {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid cornflowerblue;
    border-radius: 20px;
    background-color: cornflowerblue;
    padding: 20px;
}

#storeUserName, #showRecords, #start, #userName, #backToMenu {
    display: block;
    margin: 5px auto;
    background-color: rgba(173, 255, 47, 0.57);
    border: 1px solid greenyellow;
    border-radius: 20px;
    text-align: center;
}

#scores {
    position: absolute;
    margin: 20px 0;
}

#storeUserName, #userName {
    display: none;
}